*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:2%;
}
button{
    background-color: rgba(14, 82, 14, 0.728);
    border:none;
    color:white;
    padding: 5px 15px;
    border-radius: 7px;
    margin-top: 4%;
    margin-left: 3%;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background-color: green;
}
input,textarea,select{
    margin-left: 5%;
    padding-left: 5%;
}
